<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dreamteam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamTeam">
        <activity android:name=".Page1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PageH1">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".PageH2">
        </activity>
        <activity android:name=".PageH3a">
        </activity>
        <activity android:name=".PageH3b">
        </activity>
        <activity android:name=".PageH3c">
        </activity>
        <activity android:name=".PageH4">
        </activity>
        <activity android:name=".PageH5">
        </activity>
        <activity android:name=".PageU1">
        </activity>
        <activity android:name=".PageU2a"
            android:parentActivityName=".PageU1">
        </activity>

        <activity android:name=".PageU2b"
            android:parentActivityName=".PageU2a">
        </activity>
        <activity android:name=".PageU2c"
            android:parentActivityName=".PageU2b">
        </activity>
        <activity android:name=".PageU3"
            android:parentActivityName=".PageU2c">
        </activity>
    </application>

</manifest>